@page "/dashboard"


    <GridRow>
        <GridCol Span="24">
            <br/><br/>
            <h3>The Reports</h3>
        </GridCol>
        <br/><br />
    </GridRow>

    <GridRow>
        <GridCol Span="24">
            <Tabs DefaultActiveKey="1" Size="@size" Style="margin-bottom: 32px">
                <TabPane Key="1" Tab="Groups">
                    Number of member per group category
            
                        <Table @ref="table"
                               TItem="Models.MemberGroup"
                               DataSource="@MemberGroupList"
                               Total="_total"
                               @bind-PageIndex="_pageIndex"
                               @bind-PageSize="_pageSize"
                               @bind-SelectedRows="selectedRows"
                               OnChange="OnChange"
                               Size="TableSize.Small">
                            <PropertyColumn Title="First Name" Property="c=>c.FirstName" />
                            <PropertyColumn Title="Last Name" Property="c=>c.LastName" Sortable />

                            <PropertyColumn Title="Gender" Property="c=>c.Gender" Sortable />
                            <PropertyColumn Title="Contact Number" Property="c=>c.Phone" />
                            <PropertyColumn Title="Branch Name" Property="c=>c.Name" />
                            <PropertyColumn Title="Age Group" Property="c=>c.Group" Sortable />
                        </Table>
                
            
                </TabPane>
                <TabPane Key="2" Tab="Branches">
                    Number of members in a branch
            
                        <Table @ref="table"
                               TItem="Models.MemberInBranch"
                               DataSource="@MembersInBranchList"
                               Total="_total"
                               @bind-PageIndex="_pageIndex"
                               @bind-PageSize="_pageSize"
                               @bind-SelectedRows="selectedRows1"
                               OnChange="OnChange"
                               Size="TableSize.Small">
                            <PropertyColumn Title="Branch Name" Property="c=>c.BranchName" />
                            <PropertyColumn Title="Sunday School" Property="c=>c.SundaySchool" Sortable />

                            <PropertyColumn Title="Youth" Property="c=>c.Youth" Sortable />
                            <PropertyColumn Title="Adults" Property="c=>c.Adults" />
                            <PropertyColumn Title="Total Members" Property="c=>c.TotalMembers" />
                        </Table>

                </TabPane>
                <TabPane Key="3" Tab="Status">
                    Members active status
            
                        <Table @ref="table"
                               TItem="Models.MemberStatus"
                               DataSource="@MembersStatusList"
                               Total="_total"
                               @bind-PageIndex="_pageIndex"
                               @bind-PageSize="_pageSize"
                               @bind-SelectedRows="selectedRows2"
                               OnChange="OnChange"
                               Size="TableSize.Small">
                            <PropertyColumn Title="First Name" Property="c=>c.FirstName" />
                            <PropertyColumn Title="Last Name" Property="c=>c.LastName" Sortable />

                            <PropertyColumn Title="Gender" Property="c=>c.Gender" Sortable />
                            <PropertyColumn Title="Phone" Property="c=>c.Phone" />
                            <PropertyColumn Title="Active Status" Property="c=>c.ActiveStatus" />
                        </Table>
                
                </TabPane>
                <TabPane Key="4" Tab="Activities">
                    Members involved in activities
            
                        <Table @ref="table"
                               TItem="Models.MemberActivitites"
                               DataSource="@MemberActivititesList"
                               Total="_total"
                               @bind-PageIndex="_pageIndex"
                               @bind-PageSize="_pageSize"
                               @bind-SelectedRows="selectedRows3"
                               OnChange="OnChange"
                               Size="TableSize.Small">
                            <PropertyColumn Title="First Name" Property="c=>c.FirstName" />
                            <PropertyColumn Title="Last Name" Property="c=>c.LastName" Sortable />

                            <PropertyColumn Title="Gender" Property="c=>c.Gender" Sortable />
                            <PropertyColumn Title="Phone" Property="c=>c.Phone" />
                            <PropertyColumn Title="Active" Property="c=>c.Activity" />
                            <PropertyColumn Title="Branch Name" Property="c=>c.Name" />
                        </Table>
               
                </TabPane>
            </Tabs>
        </GridCol>
    </GridRow>
    
    
    

@using AntDesign;
@using AntDesign.TableModels;
@using System.Text.Json;
@using System.ComponentModel;
@using UI.Components.Pages.Modals
@using Models;
@using UI.Service;
@using AntDesign.Charts;


@inject ModalService ModalService;
@inject NavigationManager nav;

@code {


    private TabSize size = TabSize.Default;
    IEnumerable<Models.MemberGroup> selectedRows;
    IEnumerable<Models.MemberInBranch> selectedRows1;
    IEnumerable<Models.MemberStatus> selectedRows2;
    IEnumerable<Models.MemberActivitites> selectedRows3;
    ITable table;

    int _pageIndex = 1;
    int _pageSize = 10;
    int _total = 0;

    List<Models.MemberGroup> MemberGroupList;
    List<Models.MemberInBranch> MembersInBranchList;
    List<Models.MemberStatus> MembersStatusList;
    List<Models.MemberActivitites> MemberActivititesList;


    protected override async Task OnInitializedAsync()
    {
        MemberActivititesList = await MemberService.GetMembersActivitites();
        MembersStatusList = await MemberService.GetMembersStatus();    
        MembersInBranchList = await MemberService.GetMemberInBranch();
        MemberGroupList = await MemberService.GetMemberGroup();
    }



    public async Task OnChange(QueryModel<Models.MemberGroup> queryModel)
    {
        Console.WriteLine(JsonSerializer.Serialize(queryModel));
    }
    public async Task OnChange(QueryModel<Models.MemberInBranch> queryModel)
    {
        Console.WriteLine(JsonSerializer.Serialize(queryModel));
    }

    public async Task OnChange(QueryModel<Models.MemberStatus> queryModel)
    {
        Console.WriteLine(JsonSerializer.Serialize(queryModel));
    }
    public async Task OnChange(QueryModel<Models.MemberActivitites> queryModel)
    {
        Console.WriteLine(JsonSerializer.Serialize(queryModel));
    }

   

   





    


}